.viewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 130px;
}

.cartView {
    color: #ffffff;

    
    width: 780px;
    height: 250px;
    border-radius: 4px;
    background: linear-gradient(#3b3939, #131313);
    transition: all 0.20s ease-in;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
}

.cartView:hover, .totalPrice:hover {
    border: 1px solid rgb(133, 133, 133);
}

.card-img2 {
    width: 280px;
    height: 200px;
    object-fit: cover;
    margin-left: -40px;
}


.card-img2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 20px;
}

.titleCartView {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
}

hr {
    width: 500px;
    margin-left: -35px;
    margin-top: -25px;
}

.flex {
    display: flex;
    justify-content: space-between;

}

.totalPrice {
        color: #ffffff;
        width: 780px;
        height: 230px;
        border-radius: 4px;
        background: linear-gradient(#494848, #131313);
        transition: all 0.20s ease-in;
        cursor: pointer;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
}

.cartNoProducts {
    background: linear-gradient(#521616, #3f0404);
    text-align: center;
    height: 250px; 
    width: 700px;
    margin-left: 350px; 
    border-radius: 6px;
}

.cartNoProducts:hover {
        box-shadow: 5px 1px 20px 1px rgb(255, 255, 255);
        transition: all 0.20s;
    }

.TotalAPagar:hover {
    font-size: 21px;
    letter-spacing: 1px;
}

/*  CLASES DEL CARTFORM     */

.myButton {
    margin-left: 350px;
    margin-top: -120px;
}

.clearCart {
    margin-left: 350px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.clearCart:hover {
    width: 160px;
    height: 45px;
}

.divForm {
    display: flex;
    margin-bottom: 8px;
    margin-left: 80px;
}

.labelForm {
    width: 100px;
    margin-right: 4;
}

.buttonFinalizarCompra {
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 40px;
}