.headerMenu {
    width: 100%;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(167, 19, 19);
    border-top: 2px solid rgb(167, 19, 19);
    position: fixed;
    top: 0;
}

ul {
    list-style-type: none;
    margin-left: 280px;
}

ul li {
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    margin-left: 50px;   

}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

ul li a:hover {
    color: rgb(114, 23, 23);
    text-decoration: underline;
   
}

ul li:hover {
    transform: translateY(-6px);
    transition: all 0.30s;
}


.logoNav {
    margin-left: 30px;
    margin-top: 5px;
}

.logoNav:hover {
    transform: translateY(-6px);
    transition: all 0.10s;
}

.cart1  {
    font-size: 40px;
}

.sup {
    color: rgb(190, 22, 22);
}

.nav-menu {
    width: 100%;
    margin: 0;
    top: 0;
}

.nav-menu:hover .card-favicon {
    display: block;
} 

