.btn{
    padding: 5px 15px;
    color: white;
    max-width: 150px;
    background-color: rgb(12, 72, 150);
    border-radius:  4px; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.1);
    background-color: rgb(45, 151, 45);
  }